body {
	height: 100vh;
	background-color: rgb(220,220,220);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.overlaycircle,
.overlaycross {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
canvas {
	position: relative;
	touch-action: none;
	background-color: #ffffff;
}

/* ********MENU******** */
input, select, button { height: 27px; }
button { width: 50px; }
.checkbox { width: 16px; }
.menu {
	width: calc(100% - 4rem);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000000;
	background-color: #ffffff;
	text-align: center;
	padding: 0 2rem;
	z-index: 10;
}
.menu.hide .menu-toggle {
	padding: 0 2rem;
	display: none;
}
.menu-close-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	border-bottom: 1px solid #000000;
	position: relative;
	z-index: 20;
	background-color: #ffffff;
}
.menu.hide .menu-close-button-container {
	border-bottom: none;
	padding-bottom: 0;
}
.xbutton {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 0.3rem;
	margin: 0.3rem 0;
}
.menu-toggle {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: repeat(6, calc(100% / 6))
}
/* ********MENU TOGGLE******** */
.option-container {
	padding: 0.25rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.label {
	margin: 0 0.3rem;
	display: flex;
}

.select {
	border-radius: 0.3rem;
}
.button {
	margin: 0 0.3rem;
}
.color-input {
	width: 69px;
}
.lines-button,
.eraser-button {
	width: 28px;
	height: 28px
}

.console {
	margin-top: 1rem;
	padding: 0.5rem
}

.cross.hide {
	display: none;
}
.guide.hide {
	display: none;
}

/* ********OVERLAY******** */
.guide {
	border-radius: 50%;
	pointer-events: none;
	position: absolute;
}
.overlaycircle.light .guide,
.overlaycross.light .guide {
	border: 1px dashed #c0c0c0;
}
.overlaycircle.dark .guide,
.overlaycross.dark .guide {
	border: 1px dashed #202020;
}
.overlaycircle.light .cross ,
.overlaycross.light .cross {
	border-left: 1px dashed #c0c0c0;
}
.overlaycircle.dark .cross ,
.overlaycross.dark .cross {
	border-left: 1px dashed #202020;
}
.overlaycircle.light .cross.horizontal ,
.overlaycross.light .cross.horizontal {
	border-bottom: 1px dashed #c0c0c0;
}
.overlaycircle.dark .cross.horizontal ,
.overlaycross.dark .cross.horizontal {
	border-bottom: 1px dashed #202020;
}
.guide1.one {
	width: 33px;
	height: 33px;
}
.guide1.two {
	width: 66px;
	height: 66px;
}
.guide1.three {
	width: 100px;
	height: 100px;
}
.guide1.four {
	width: 133px;
	height: 133px;
}
.guide1.five {
	width: 166px;
	height: 166px;
}

.guide2.one {
	width: 200px;
	height: 200px;
}
.guide2.two {
	width: 245px;
	height: 245px;
}
.guide2.three {
	width: 290px;
	height: 290px;
}
.guide2.four {
	width: 335px;
	height: 335px;
}
.guide2.five {
	width: 380px;
	height: 380px;
}

.guide3.one {
	width: 425px;
	height: 425px;
}
.guide3.two {
	width: 470px;
	height: 470px;
}
.guide3.three {
	width: 515px;
	height: 515px;
}
.guide3.four {
	width: 560px;
	height: 560px;
}
.guide3.five {
	width: 605px;
	height: 605px;
}

.guide4 {
	width: 650px;
	height: 650px;
}

.cross {
	width: 0.5px;
	height: 750px;
	pointer-events: none;
	position: absolute;
}

.two.two1 { transform: rotate(90deg); }
.two.four1 { transform: rotate(45deg); }
.two.four2 { transform: rotate(-45deg); }

.two.eight1 { transform: rotate(22.5deg); }
.two.eight2 { transform: rotate(67.5deg); }
.two.eight3 { transform: rotate(-22.5deg); }
.two.eight4 { transform: rotate(-67.5deg); }

.two.sixteen1 { transform: rotate(11.25deg); }
.two.sixteen2 { transform: rotate(-11.25deg); }
.two.sixteen3 { transform: rotate(33.75deg); }
.two.sixteen4 { transform: rotate(-33.75deg); }
.two.sixteen5 { transform: rotate(56.25deg); }
.two.sixteen6 { transform: rotate(-56.25deg); }
.two.sixteen7 { transform: rotate(78.75deg); }
.two.sixteen8 { transform: rotate(-78.75deg); }

.three.three1 { transform: rotate(60deg); }
.three.three2 { transform: rotate(-60deg); }

.three.six1 { transform: rotate(30deg); }
.three.six2 { transform: rotate(-30deg); }
.three.six3 { transform: rotate(90deg); }
.three.six4 { transform: rotate(-90deg); }

.three.twelve1 { transform: rotate(15deg); }
.three.twelve2 { transform: rotate(-15deg); }
.three.twelve3 { transform: rotate(45deg); }
.three.twelve4 { transform: rotate(-45deg); }
.three.twelve5 { transform: rotate(75deg); }
.three.twelve6 { transform: rotate(-75deg); }
.three.twelve7 { transform: rotate(105deg); }
.three.twelve8 { transform: rotate(-105deg); }

.three.tf1 { transform: rotate(7.5deg); }
.three.tf2 { transform: rotate(-7.5deg); }
.three.tf3 { transform: rotate(22.5deg); }
.three.tf4 { transform: rotate(-22.5deg); }
.three.tf5 { transform: rotate(37.5deg); }
.three.tf6 { transform: rotate(-37.5deg); }
.three.tf7 { transform: rotate(52.5deg); }
.three.tf8 { transform: rotate(-52.5deg); }
.three.tf9 { transform: rotate(67.5deg); }
.three.tf10 { transform: rotate(-67.5deg); }
.three.tf11 { transform: rotate(82.5deg); }
.three.tf12 { transform: rotate(-82.5deg); }
.three.tf13 { transform: rotate(97.5deg); }
.three.tf14 { transform: rotate(-97.5deg); }
.three.tf16 { transform: rotate(-112.5deg); }
.three.tf15 { transform: rotate(112.5deg); }
