body {
	height: 100vh;
	background-color: rgb(220,220,220);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
canvas {
	position: relative;
	touch-action: none;
	background-color: #ffffff;
}

/* ********OVERLAY******** */
.circle {
	border: 1px dashed #333333;
	border-radius: 50%;
	pointer-events: none;
	position: absolute;
}
.outer-circle {
	width: 650px;
	height: 650px;
}
.middle-circle {
	width: 350px;
	height: 350px;
}
.inner-circle {
	width: 150px;
	height: 150px;
}
.outer-circle1 {
	width: 644px;
	height: 644px;
}
.middle-circle1 {
	width: 344px;
	height: 344px;
}
.inner-circle1 {
	width: 144px;
	height: 144px;
}

.cross {
	width: 0.5px;
	height: 750px;
	/* background-color: black; */
	border-right: 1px dashed #333333;
	pointer-events: none;
	position: absolute;
}
.horizontal {
	width: 750px;
	height: 0.5px;
	border-top: 1px dashed #333333;
}
.forward-slash {
	transform: rotate(45deg);
}
.back-slash {
	transform: rotate(-45deg);
}
.forward-slash1 {
	transform: rotate(22.5deg);
}
.back-slash1 {
	transform: rotate(-22.5deg);
}
.forward-slash2 {
	transform: rotate(67.5deg);
}
.back-slash2 {
	transform: rotate(-67.5deg);
}
.forward-slash3 {
	transform: rotate(11.25deg);
}
.back-slash3 {
	transform: rotate(-11.25deg);
}
.forward-slash4 {
	transform: rotate(33.75deg);
}
.back-slash4 {
	transform: rotate(-33.75deg);
}
.forward-slash5 {
	transform: rotate(56.25deg);
}
.back-slash5 {
	transform: rotate(-56.25deg);
}
.forward-slash6 {
	transform: rotate(78.75deg);
}
.back-slash6 {
	transform: rotate(-78.75deg);
}

/* ********MENU******** */
.menu {
	width: calc(100% - 4rem);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000000;
	background-color: #ffffff;
	text-align: center;
	padding: 0 2rem;
	z-index: 10;
}
.menu.hide .menu-toggle {
	padding: 0 2rem;
	display: none;
}
.menu-close-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	border-bottom: 1px solid #000000;
	position: relative;
	z-index: 20;
	background-color: #ffffff;
}
.menu.hide .menu-close-button-container {
	border-bottom: none;
	padding-bottom: 0;
}
.xbutton {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 0.3rem;
}
.menu-toggle {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}
/* ********MENU TOGGLE******** */
.option-container {
	padding: 0.25rem 0;
	display: flex;
	justify-content: center;
}
.label {
	margin: 0 0.3rem;
}

.select {
	border-radius: 0.3rem;
}
.button {
	margin: 0 0.3rem;
}

.the-line::after {
	width: 20px;
	background-color: #000000;
}
.line-width1::after {
	height: 1px;
}
.line-width2 {
	height: 2.5px;
}
.line-width3 {
	height: 4px;
}
.line-width4 {
	height: 5.5px;
}
.line-width5 {
	height: 7px;
}
.line-width6 {
	height: 8.5px;
}

.console {
	margin-top: 1rem;
	padding: 0.5rem
}
