body {
  height: 100vh;
  background-color: #dcdcdc;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu * {
  box-sizing: border-box;
}
.canvas-container {
  position: relative;
}
.overlaycircle,
.overlaycross {
  position: absolute;
}
.canvas-container,
.overlaycircle,
.overlaycross {
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: relative;
  touch-action: none;
  background-color: #ffffff;
}
h1,
h3 {
  margin: 0;
}
button,
li,
select {
  cursor: pointer;
}
section {
  width: 100%;
  margin: 1em;
}
section:not(:first-of-type) {
  margin-top: 0;
}
.hide {
  display: none;
}
.menu-title.picker,
.current-line-color,
.current-line-width,
.color-picker,
.line-picker {
  display: flex;
}
.menu-section:not(:last-child) {
  border-bottom: 1px solid black;
}
#current-color:hover {
  cursor: pointer;
}

/* **** */
/* menu */
/* **** */
.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  background-color: #eeeeee;
  z-index: 2;
}
.main-title {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3em;
  margin: 1em 1em 0;
  padding: 0.5em 0;
}
.button-container,
.current-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.menu-title .active {
  background: darkslategray;
  color: white;
}
.menu-title button {
  width: 100%;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
}

/* **** */
/* line */
/* **** */
.current-line-color,
.current-line-width {
  justify-content: center;
  width: 50%;
}
.current-line-box {
  width: 50px;
  height: 25px;
  border: 1px solid black;
  padding: 0 0.3em;
  display: flex;
  align-items: center;
}
.current-line {
  width: 100%;
}
#line-color,
.current-line-box {
  border-radius: 0.3em;
}

/* ***** */
/* color */
/* ***** */
.color-picker,
.eraser-picker {
  margin: 1em 0;
  width: 100%;
  justify-content: space-between;
}
.color {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 0 0.3em;
}
.color.active,
.color:active {
  border: 2px solid black;
}

/* ***** */
/* width */
/* ***** */
.line-picker {
  margin: 0.5em 0;
  width: 100%;
  justify-content: center;
}
.line-picker-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.line-size {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
.line-size:active,
.line-size.active {
  border: 2px solid black;
}
.line {
  width: 100%;
}

/* ****** */
/* eraser */
/* ****** */
.eraser-picker {
  display: flex;
  justify-content: space-between;
}
.eraser-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
}
.eraser-button:active,
.eraser-button.active {
  border: 2px solid black;
}

/* ********** */
/* background */
/* ********** */
.menu-title.nonpicker {
  text-align: center;
  margin-top: -0.5em;
}
.background-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background-container .color-picker,
.frame-button-container {
  width: 50%;
}
.frame-button-container {
  text-align: center;
}
.frame-button-container button {
  padding: 0.5em 1em;
}
.frame-button-container button:active,
.frame-button-container button.active {
  background: darkslategray;
  color: white;
  border-radius: 0.3em;
}
.background-container .color-picker:hover + .warning-message,
.guides-container .guides.points:hover + .warning-message {
  display: block;
}
.warning-message {
  display: none;
  position: absolute;
  background: red;
  color: white;
  bottom: -121px;
  padding: 1em;
  text-align: center;
  z-index: 2;
  line-height: 1.5;
}

/* ****** */
/* guides */
/* ****** */
.guides-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1em;
}
.guides {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-bottom: 0.5em;
}
.guides-button,
.guides-select {
  text-align: center;
}
.guides-button {
  width: 80px;
}
.guides-button button {
  width: 100%;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
.guides-select select {
  width: 40px;
  padding: 0.2em 0;
}
.circle-button:active,
.circle-button.active,
.points-button:active,
.points-button.active {
  background: darkslategray;
  color: white;
}
.guides-container .warning-message {
  bottom: 90px;
}

/* ******* */
/* buttons */
/* ******* */
#buttons {
  display: flex;
}
.button-section {
  width: 50%;
  padding: 0 0.5em;
}
.button-section button {
  width: 100%;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
.button-section button:active {
  background: darkslategray;
  color: white;
}
